<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

    <div th:fragment="header">
        <nav class="navbar bg-body-tertiary fixed-top" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/">화학물질사고</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">화학물질사고</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    유형별
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/leakage">누출</a></li>
                                    <li><a class="dropdown-item" href="/fire">화재</a></li>
                                    <li><a class="dropdown-item" href="/etc">기타</a></li>
                                    <li><a class="dropdown-item" href="/explosion">폭발</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    원인별
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/safey">안전기준 미준수</a></li>
                                    <li><a class="dropdown-item" href="/facility">시설 결함</a></li>
                                    <li><a class="dropdown-item" href="/vehicle">운송차량</a></li>
                                    <li><a class="dropdown-item" href="/disasters">자연재해</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active" aria-current="page" href="/data">전체사고</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</html>